<a routerLink="home/{{title.id}}">
    <div id="mainDiv">
        <div class="card">
            <img class="card-img-top" src="http://localhost:8090/{{title.image}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{title.name}}</h5>
              <p class="card-text">
                  {{title.author}} <br>
                  <del>
                    {{title.price | currency:"INR"}}
                  </del>
              </p>
              <p class="card-text text text-danger">({{title.price | discount | currency:"INR"}})</p>
            </div>
          </div>
        </div>
</a>
